<% provide(:title, 'Rails China')%>
<div class="hidden-phone">
	<ul class="breadcrumb">
		<li><%=link_to "Home", root_path %><span class="divider">/</span></li>
		<li><%=link_to "首页", root_path %></li>
	</ul>
</div>

<div id="main">
	<div class="box"></div>

	<div class="home_suggest_topics">
		<div class="box span5"></div>
		<div class="box span5"></div>
	</div>
</div>
