<div id="main" class="container-fluid">
	<div class="subnav">
		<ul class="nav nav-tabs">
			<li>
				<%= link_to "个人信息", user_path(current_user.try(:name))%>
			</li>

			<li class="active">
				<%= link_to "帖子", user_topics_path(current_user.try(:name))%>
			</li>

			<li>
				<%= link_to "收藏", user_favorites_path(current_user.try(:name))%>
			</li>

			<li>
				<%= link_to "记事本", user_notes_path(current_user.try(:name))%>
			</li>

		</ul>
	</div>

	<div class="content">
		<div class="box">
			<table class="node_topics table">
				<tbody>
					<tr class="head">
						<td class="node">节点</td>
						<td class="title">标题</td>
						<td class="replies">回复/喜欢</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
