<div id="main" class="container-fluid">
	<div class="subnav">
		<ul class="nav nav-tabs">
			<li>
				<%= link_to "个人信息", user_path(@user.name)%>
			</li>

			<li>
				<%= link_to "帖子", topics_user_path(@user.name)%>
			</li>

			<li class="active">
				<%= link_to "收藏", favorites_user_path(@user.name)%>
			</li>

			<li>
				<%= link_to "记事本", notes_user_path(@user.name)%>
			</li>

		</ul>
	</div>

	<div class="content">
		<div class="box">
			<table class="node_topics table">
				<tbody>
					<tr class="head">
						<td>节点</td>
						<td>标题</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

