@import "bootstrap";

/* 全局 */
$grayLight: #999;
$gray: #666;
$grayMediumLight: #eaeaea;

html {
	overflow-y: scroll;		 // 支持向下拉
}

body {
	padding-top: 150px;    // 内容在导航条下90px位置开始
	font-family: Arial,Helvetica,sans-serif;
	background-image: url(background.png);
}

.center {
	text-align: center;		 // 所有加上center的都可居中
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  line-height: 1.7em;
}

#logo {
	font-size: 1.5em;
	letter-spacing: -1px;
	padding-bottom: 11px;
	font-weight: bold;
	font-style: italic;
	line-height: 1;
	&:hover {
		color: red;
		text-decoration: none;
	}
}


.footer {
	margin-top: 45px;
	padding-top: 5px;
	// border-top: 1px solid #eaeaea;   // 白灰的线条
	a {
		&:hover{
		}
	}
	.container div .pull-left img {
		width: 48px;
	}
}

.links {
	float: left;
	margin-left: 10px;
	list-style: none;
}
.copyright {
	float: left;
	margin-left: 10px;
	color: $gray;
}
