@import "bootstrap";

/******************************** 全局 ***********************************/
$grayLight: #999;
$gray: #666;
$grayMediumLight: #eaeaea;
$whiteDark: #ddd;
$white: #fff;
$red: #c00;

html {
	overflow-y: scroll;		 // 支持向下拉
}

body {
	padding-top: 60px;    // 内容在导航条下60px位置开始
	font-family: Arial,Helvetica,sans-serif;
	background-image: url(background.png);
}

.center {
	text-align: center;		 // 所有加上center的都可居中
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

#logo {
	font-size: 1.5em;
	letter-spacing: -1px;
	padding-bottom: 11px;
	font-weight: bold;
	font-style: italic;
	line-height: 1;
	&:hover {
		color: red;
		text-decoration: none;
	}
}


.footer {
	margin-top: 45px;
	padding-top: 5px;
	// border-top: 1px solid #eaeaea;   // 白灰的线条
	a {
		&:hover{
		}
	}
	.container>div>.pull-left>img {
		width: 48px;
	}
}

.links {
	float: left;
	margin-left: 10px;
	list-style: none;
}
.copyright {
	float: left;
	margin-left: 10px;
	color: $gray;
}

/**************************圆角的矩形框********************************/
.box {
	background-color: $white;
	padding: 10px;
	margin: 0 0 20px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: 0 0px 2px rgba(0,0,0,0.05);
	box-shadow: 0 0px 2px rgba(0,0,0,0.05);
}
/***********************************************************************/

/* 用户注册和登录 */
.container-fluid{
	padding: 0;
	.content {
		margin-left: 0;
		margin-right: 260px;
	}
	.sidebar {
		position: absolute;
		right: 0;
		top: 0;
		width: 240px;
	}
}
#main {
	position: relative;
}
.sidebar h2 {
	font-size: 12px;
	font-weight: bold;
	line-height: 100%;
	color: $grayLight;
	margin: 0 -10px 10px -10px;
	padding-bottom: 8px;
	border-bottom: 1px solid $whiteDark;
}
legend {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	border-bottom: 1px solid #eee;
}
.form-actions {
	background-color: #f9f9f9;
}
.required {
	color: $red;
}
.xxlarge {
	width: 90%;
}


/********* 指向上 **********/
.go_top {
	display: none;
	background: #FFF;
	text-align: center;
	border: 1px solid #eee;
	height: 20px;
	width: 24px;
	padding-top: 4px;
	overflow: hidden;
	border-radius: 6px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	.icons_go_top {
		width: 16px;
		height: 16px;
		background: url("go_top-bf.png");
	}
}
.icon {
	display: inline-block;
	transition-property: background-position;
	transition-duration: 0.5s;
	-moz-transition-property: background-position;
	-moz-transition-duration: 0.5s;
	-webkit-transition-property: background-position;
	-webkit-transition-duration: 0.5s;
}

/*************************/
form {
	display: block;
	margin: 0 0 18px;
	margin-bottom: 0px;
}
