// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************** 主页 ***********************/
$grayLight: #999;
$whiteDark: #ddd;
$whiteLightDark : #eee;
$gray: #778087;

.home_suggest_topics {
	position: relative;
	.box {
		width: 47%;
		ul {
			list-style: none;
			margin: 0;
			li {
				height: 22px;
				line-height: 22px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			a {
				float: left;
				margin-right: 5px;
			}
		}
	}
	.high_likes_topics{
		top: 0;
		right: 1px;
		position: absolute;
	}
}


.box h2.title {
	font-weight: bold;
	color: $grayLight;
	margin: 0 -10px;
	padding: 0 10px;
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 100%;
	border-bottom: 1px solid $whiteDark;
	padding-bottom: 8px;
}

.box .count {
	color: $grayLight;
	font-size: 12px;
	display: inline-block;
}

/**版块分类导航**/
#sections {
	h2 {
		font-size: 12px;
		color: #999;
		line-height: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	ul {
		list-style: none;
		margin-bottom: 0;
		margin: 0;
	}
	li {
		line-height: 200%;
		font-size: 14px;
		padding: 8px 10px;
		margin: 0 -10px;
		border-top: 1px solid #DDD;
		position: relative;
		overflow: auto;
	}
} 

/**************** 酷站 **********************/
#site_nodes {
	h2 {
		font-size: 14px;
		line-height: 100%;
		color: $grayLight;
		padding: 10px;
		padding-top: 0;
		margin: 0 -10px;
		border-bottom: 1px solid $whiteDark;
		margin-bottom: 20px;
	}
}

/*************** 个人信息 *****************/
.subnav {
	margin-bottom: -19px;
}
.subnav .nav-tabs {
	border-bottom: 0px;
	padding-left: 20px;
}
.userinfo {
	ul {
		list-style: none;
	}
	li {
		font-size: 14px;
		line-height: 180%;
		border-bottom: 1px dashed $whiteLightDark;
		label {
			color: $grayLight;
			font-size: 12px;
			margin-right: 8px;
			display: inline-block;
			width: 100px;
			text-align: right;
		}
	}
}
.box h2 .title {
	font-size: 12px;
	margin: 0 -10px;
	padding: 0 10px;
	color: $grayLight;
	line-height: 100%;
	border-bottom: 1px solid $whiteDark;
	padding-bottom: 8px;
}
/*************************/
.node_topics tr.head td {
	border-top: none;
	padding: 14px;
	color: $grayLight;
	font-weight: bold;
	font-size: 12px;
}
/************ 会员 ****************/
#users .info {
	margin-bottom: 10px;
	text-align: right;
}

.user_list {
	padding-bottom: 20px;
	margin-left: 0;
	h2 {
		font-weight: bold;
		font-size: 14px;
		margin: 0;
	}
	.span1 {
		width: 70px;
		text-align: center;
		margin-top: 20px;
		margin-left: 20px;
	}
}


